const firebaseConfig = {
  apiKey: "AIzaSyA05vxez072LyMlU_I6NXvefpH2Bu9mlrM",
  authDomain: "fikr-8b1bb.firebaseapp.com",
  projectId: "fikr-8b1bb",
  storageBucket: "fikr-8b1bb.firebasestorage.app",
  messagingSenderId: "22916325349",
  appId: "1:22916325349:web:da8977b5c7c4496dd0d90c",
  measurementId: "G-0L2BBFZ4BV"
};
